body {
    font:15px/1.5 Arial,HelvLight,sans-serif;
    padding: 0;
    margin: 0;
    background-color: azure;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}


header{
    background: darkslategray;
    color: white;
    padding-top: 10px;
    min-height: 80px;
    border-bottom: orangered;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 0 0 10px;
}
header#branding{
    float: left;
}
header#branding h1{
    margin:0;
}
header nav{
    float: right;
    margin-top: 20px;
}
header a:hover{
    background-color: cornflowerblue;
}
#showcase{
    min-height: 400px;

    background-image: url("../img/showcase1.jpg");
    text-align: center;
    color: orangered;
}
#showcase{
    font-size: 30px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 25px;
    color: lime;

}
#newsletter{
    padding:15px;
    color: orangered;
    background: #35424a ;
}
#newsletter h1{
    float: left;
}
#newsletter button {
    float: right;

    padding: 4px;
    height: 35px;
    width: 150px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}
#newsletter button:hover{
    color: #e8491d;

}
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}
footer{
    padding: 20px;
    margin-top: 150px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
table {
    border-spacing: 0;
    margin: 50px;
}
th {
    text-align: left;

}

@media all and (max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    form,
    table th tr{
        float: none;
        text-align: left;
        width: 100%;

    }
    header{
        padding-bottom: 20px;
    }
    form button{
        width: 50%;
    }
}

@media all and (max-width: 1440px) {
    header #branding,
    header nav,
    header nav li,
    form,
    table th tr{
        float: none;
        text-align: left;
        width: 100%;

    }
    header{
        padding-bottom: 20px;
    }
    form button{
        width: 50%;
    }
}
/*mobile M*/
@media all and (max-width:375px) {
    header #branding,
    header nav,
    header nav li,
    form{
        float: none;
        text-align: left;
        width: 100%;

    }
    header{
        padding-bottom: 20px;
    }
    table {
        margin-left: 5px;
        border-spacing: 5px ;

    }

}



