
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1> Ease   Your Business</h1>
        </div>
        <nav>
            <ul>
                <li><a href="DashBoard.html">Home</a></li>
                <li class="current"><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>

        </nav>
    </div>
</header>
<section id="newsletter">

</section>
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title">About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad atque consectetur, dicta error facere fugiat fugit iure molestiae, non,
                odit sunt suscipit tenetur unde velit vitae? Alias dolores officia tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi cupiditate
                deleniti deserunt dolorem, eaque laudantium maiores, obcaecati omnis perspiciatis, quos repellat repellendus repudiandae
                sit. Adipisci at error ipsam odio reiciendis.</p>
        </article>
<aside id="sidebar">
    <h3>What we do</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam asperiores,
        aut delectus, dolor doloremque eius et iste itaque libero nesciunt nostrum odio odit porro quibusdam
         rem repellendus voluptate voluptatem!</p>
</aside>
    </div>
</section>
<footer>
    <p>Developed By Ashen Koralage <br>copyright 2019.1.15</p>
</footer>
</body>
</html>