
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1> Add Customer</h1>
        </div>
        <nav>
            <ul>
                <li><a href="DashBoard.html">Home</a></li>
            </ul>

        </nav>
    </div>
</header>
<section id="newsletter">

</section>
<section id="main">
    <div class="container">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="main">Customer Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="main">Customer ID</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder="ID">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Telephone Number</label>
                <input type="number" class="form-control" id="inputAddress" placeholder="07********">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Address">
            </div>
            <!--<div class="form-row">-->
                <!--<div class="form-group col-md-6">-->
                    <!--<label for="inputCity">City</label>-->
                    <!--<input type="text" class="form-control" id="inputCity">-->
                <!--</div> <br>-->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="main">Age</label>
                        <input type="number" class="form-control" id="Age" placeholder="Age">
                    </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Customer</button>
            <button type="submit" class="btn btn-primary">Delete Customer</button>
            <button type="submit" class="btn btn-primary">Update Customer</button>
            <button type="submit" class="btn btn-primary">Search Customer</button> <br><br><br>
        </form>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">Customer ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Age</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!--<th scope="row">1</th>-->
                    <td>C001</td>
                    <td>Amal</td>
                    <td>Galle</td>
                    <td>55</td>
                </tr>
                <tr>
                    <!--<th scope="row">2</th>-->
                    <td>C002</td>
                    <td>Kamal</td>
                    <td>Panadura</td>
                    <td>65</td>
                </tr>
                <tr>
                    <!--<th scope="row">3</th>-->
                    <td>C001</td>
                    <td>Nimal</td>
                    <td>Galle</td>
                    <td>30</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer>
    <p>Developed By Ashen Koralage <br>copyright 2019.1.15</p>
</footer>
</body>
</html>