
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1> Ease   Your Business</h1>
        </div>
        <nav>
            <ul>
                <li><a href="DashBoard.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li class="current"><a href="services.html">Services</a></li>
            </ul>

        </nav>
    </div>
</header>
<section id="newsletter">

</section>
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title"> Our Services</h1>
            <ul id="services">
                <li>
                    <h3>Auditing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi inventore ipsam, quo sunt tempora
                        totam veritatis voluptas? Commodi doloribus fuga magni molestias, quos repellendus soluta temporibus tenetur!
                        Cupiditate itaque, provident.</p>
                    <h3>Point Of Sale</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur, deleniti dolorem doloribus eligendi, harum illum impedit ipsa maiores, officia
                        quia quis ratione repellat similique
                        tempora ut vel. Omnis, totam.</p>
                    <h3>Business Analysing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium architecto blanditiis cum ea eligendi esse
                        impedit incidunt ipsum itaque libero, molestias, nihil
                        numquam obcaecati quod quos repellat sequi velit?</p>
                </li>

            </ul>
        </article>

    </div>
</section>
<footer>
    <p>Developed By Ashen Koralage<br> copyright 2019.1.15</p>
</footer>
</body>
</html>